@font-face {
  font-family: "HelveticaNeueLight";
  src: url("../../fonts/HelveticaNeueLight.otf") format("opentype");
}
@font-face {
  font-family: "HelveticaNeueRoman";
  src: url("../../fonts/HelveticaNeueRoman.otf") format("opentype");
}
@font-face {
  font-family: "HelveticaNeueBoldItalic";
  src: url("../../fonts/HelveticaNeueBoldItalic.otf") format("opentype");
}
@font-face {
  font-family: "BeVietnam-Bold";
  src: url("../../fonts/BeVietnam-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "BeVietnam-BoldItalic";
  src: url("../../fonts/BeVietnam-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "BeVietnam-ExtraBoldItalic";
  src: url("../../fonts/BeVietnam-ExtraBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "BeVietnam-LightItalic";
  src: url("../../fonts/BeVietnam-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "BeVietnam-Light";
  src: url("../../fonts/BeVietnam-Light.ttf") format("truetype");
}




