@import "default";
@import "variables";
@import "mixins";
@import "grid";
@import "normalize";
@import "fonts";
@import "swiper-bundle";
@import "aos";
$transition: 0.2s;
:root{
  scroll-behavior: smooth;
}
// GENERAL DOCUMENT STYLES
* {
  box-sizing: border-box;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  font-feature-settings: 'pnum' on, 'lnum' on;
}
html{
  font-family: 'HelveticaNeue', Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
}
body{
  background-color: #FFFFFF;
  min-height: 100vh;
  &.locked{
    height: 100vh;
    overflow: hidden;
    @media all and (max-width: 500px){
      height: auto;
    }
    &:before{
      pointer-events: all;
      opacity: 1;
    }
  }
  &:before{
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    opacity: 0;
    pointer-events: none;
    z-index: 50;
    transition: 0.3s ease-in-out;
  }
}
.main{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-top: 165px;
  @media all and (max-width: 1920px){
    padding-top: px(165);
  }
}
img{
  max-width: 100%;
}
.padding-right{
  padding-right: 64px;
  @media all and (max-width: 1920px){
    padding-right: px(64);
  }
  @media all and (max-width: 1440px){
    padding-right: px(54);
  }
  @media all and (max-width: 1024px){
    padding-right: px(44);
  }
  @media all and (max-width: 768px){
    padding-right: px(34);
  }
  @media all and (max-width: 500px){
    padding-right: px(20);
  }
}
.padding-left{
  padding-left: 64px;
  @media all and (max-width: 1920px){
    padding-left: px(64);
  }
  @media all and (max-width: 1440px){
    padding-left: px(54);
  }
  @media all and (max-width: 1024px){
    padding-left: px(44);
  }
  @media all and (max-width: 768px){
    padding-left: px(34);
  }
  @media all and (max-width: 500px){
    padding-left: px(20);
  }
}
.main-container{
  max-width: 1920px;
  margin: auto;
  width: 100%;
  @extend .padding-left;
  @extend .padding-right;
}
.button, .wpcf7-submit{
  padding: 20px 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  @media all and (max-width: 1920px){
    padding: px(20) px(60);
  }
  &-black{
    background-color: #000000;
    border: 1px solid #000000;
    transition: 0.3s ease-in-out;
    span{
      color: #FFFFFF;
    }
    &:hover{
      background-color: #FFFFFF;
      color: #000000;
      span{
        color: #000000;
      }
    }
  }
  &-white{
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    transition: 0.3s ease-in-out;
    span{
      color: #000000;
    }
    &:hover{
      background-color: #000000;
      span{
        color: #FFFFFF;
      }
    }
  }
  color: #FFFFFF;
  border: 1px solid #000000;
  font-family: "HelveticaNeueRoman", sans-serif;
  font-size: 24px;
  transition: 0.3s ease-in-out!important;
  @media all and (max-width: 1920px){
    font-size: px(24);
  }
  span{
    font-family: "HelveticaNeueRoman", sans-serif;
    font-size: 24px;
    transition: 0.3s ease-in-out;
    @media all and (max-width: 1920px){
      font-size: px(24);
    }
  }
}
.wpcf7-form{
  input:focus {
    //border: 1px solid #C4B39B;
  }
  label{
    position: relative;
  }
  .wpcf7-not-valid{
    border-bottom: 1px solid #E20000;
  }
  .wpcf7-not-valid-tip{
    position: absolute;
    background-color: #E20000;
    color: white;
    border-radius: 20px;
    bottom: -12px;
    top: auto!important;
    left: 12px;
    height: 22px;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
    font-size: 14px;
    width: auto;
    @media all and (max-width: 1920px){
      bottom: px(-12);
      left: px(12);
      height: px(22);
      padding: 0 px(20);
      font-size: px(14);
    }
  }
}

.wpcf7-response-output{
  display: none!important;
}
.wpcf7-spinner{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.8);
  border-radius: 0;
  margin-left: 0;
  z-index: 50;
  opacity: 1;
  &:before{
    display: none;
  }
  &:after{
    content: "";
    display: block;
    position: static;
    background-image: url("../../img/spinner.gif");
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 100px;
    background-size: contain;
  }
}
p{
  color: #181717;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 47px;
  @media all and (max-width: 1920px){
    font-size: px(16);
    line-height: px(24);
    margin-bottom: px(47);
  }
  @media all and (max-width: 480px){
    font-size: px(14);
    margin-bottom: 2em;
  }
}
.section-title{
  font-family: "BeVietnam-Light", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 80px;
  line-height: 100px;
  color: #000000;
  text-align: left;
  @media all and (max-width: 1920px){
    font-size: px(80);
    line-height: px(100);
  }
  strong{
    font-family: "BeVietnam-BoldItalic", sans-serif;
    font-weight: 700;
  }
}


@import "templates/preloader";
@import "templates/404";
@import "templates/header";
@import "templates/banner";
@import "templates/two-lines";
@import "templates/productions";
@import "templates/two-col";
@import "templates/video";
@import "templates/about-img";
@import "templates/cbanner";
@import "templates/cases";
@import "templates/contact-form";
@import "templates/sbanner";
@import "templates/full";
@import "templates/tvideo";
@import "templates/footer";

