.about-img{
  margin-top: 46px;
  max-height: calc(100vh - 165px);
  height: 100vh;
  margin-bottom: 50px;
  @media all and (max-width: 1920px){
    margin-bottom: px(50);
    margin-top: px(46);
    max-height: calc(100vh - px(165));
  }
  @media all and (max-width: 1024px){
    max-height: none;
    margin-top: 0;
    height: auto;
    margin-bottom: px(40);
  }
  &__container{
    display: flex;
    justify-content: space-between;
    height: 100%;
    > div{
      height: 100%;
      overflow: hidden;
      @media all and (max-width: 1024px){
        height: auto;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top center;
      }
    }
  }
  &__first{
    width: calc(70% - 10px);
    @media all and (max-width: 1920px){
      width: calc(70% - px(10));
    }
    @media all and (max-width: 1024px){
      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
  &__second{
    width: 30%;
    @media all and (max-width: 1024px){
      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}